/********** MASTER **********/
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/***** OVERWRITING BOOTSTRAP *****/
.btn-primary {
    color: #ffffff;
    background-color: #ee3322;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.btn-primary:hover {
    background-color: #d03027;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #ee3322;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #d03027;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.bg-red {
    background-color: #ee3322;
}

.navbar {
    position: relative;
    padding: 0 1rem;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 15px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    transition: 0.3s;
    font-size: 18px;
    padding: 15px 20px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #d03027;
}
/***** *****/

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 0;
}

footer h6 {
    margin: 0;
    font-size: 15px;
}

footer h6 span {
    color: #ee3322;
    font-weight: bold;
}

footer h6 i {
    color: #d4af37;
}

.content-container {
    border-top: 1px solid #ee3322;
    border-bottom: 1px solid #ee3322;
    width: 60%;
    margin: 30px auto;
    padding: 20px 0;
}

.content h2 {
    font-size: 50px;
    color: #ee3322;
    letter-spacing: 1px;
}
/********** **********/

/********** WELCOME **********/
#welcome .welcome-container {
    height: 93vh;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(../storage/bouquet-assorted-color-flowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#welcome .content {
    padding: 35vh 0;
}

#welcome .content h1 {
    font-size: 55px;
    margin: 0;
    color: #ffffff;
    cursor: pointer;
}

#welcome .content h1 > span {
    font-size: 90px;
    transition: 0.2s;
}

#welcome .content h1 > span:hover {
    font-size: 100px;
    background-color: #ee3322;
}

#welcome .content h3 {
    margin: 0;
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff;
}
/********** **********/

/********** LOGIN and REGISTER **********/
.log-reg {
    text-align: center;
    background-color: #ffffff;
}

#login .content {
    padding: 50px 0 150px 0;
}

#register .content {
    padding: 50px 0;
}

.log-reg textarea {
    height: 200px;
}

.log-reg input[type="radio"] {
    margin-right: 7px;
}
/********** **********/